.status-bar {
  display: flex;
  /* css hack 원하는 컨테이너의 중앙으로 넣는 방법 */
  justify-content: center;
  padding: 5px 3px;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}
.status-bar__column {
  width: 33%;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column .fa-battery-quarter {
  margin: 0 5px;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
